#form{
    margin: 50px 500px 50px 500px;
  }            
  #header {
  background-color: #40E0D0;
  color:white;
  text-align: center;
  font-size: 25px;
           }  
  input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;            
  }
  input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;            
  }
  input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;            
  }
  
  input[type=submit] {
  width: 100%;
  background-color: #40E0D0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 25px
  }
  textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;  
  }
  
  input[type=submit]:hover {
  background-color: #45a049;
  }
  
  div {
   
  background-color: #f2f2f2;
  padding: 20px;
  }